NEXT_PUBLIC_UMAMI_WEBSITE_ID=

NEXT_PUBLIC_SUPABASE_URL=https://<YOUR_PROJECT_ID>.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
DATABASE_URL="postgres://postgres:<YOUR_PROJECT_PASSWORD>@db.<YOUR_PROJECT_ID>.supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:<YOUR_PROJECT_PASSWORD>@db.<YOUR_PROJECT_ID>.supabase.co:5432/postgres"


UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
