@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 100% 97%;
    --foreground: 217 35% 25%;
    --primary: 217 90% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 137, 90%, 60%;
    --secondary-foreground: 0, 0%, 0%;
    --border: 212.73 26.83% 83.92%;
    --ring: 215 70% 60%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="yellow"] {
    --background: 54 100% 98%;
    --foreground: 36 100% 20%;
    --primary: 54 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 54 100% 70%;
    --secondary-foreground: 0 0% 0%;
    --border: 212.73 26.83% 83.92%;
    --ring: 54 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="cyan"] {
    --background: 183 100% 96.27%;
    --foreground: 192 100% 25%;
    --primary: 188.74 94.5% 42.75%;
    --primary-foreground: 0 0% 100%;
    --secondary: 8.74, 94.5%, 42.75%;
    --secondary-foreground: 0, 0%, 100%;
    --border: 212.73 26.83% 83.92%;
    --ring: 190 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="orange"] {
    --background: 30 100% 98%;
    --foreground: 20 100% 20%;
    --primary: 24 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204, 100%, 60%;
    --secondary-foreground: 0, 0%, 100%;
    --border: 212.73 26.83% 83.92%;
    --ring: 30 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="purple"] {
    --background: 260 100% 98%;
    --foreground: 270 50% 20%;
    --primary: 260 90% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80, 90%, 60%;
    --secondary-foreground: 0, 0%, 0%;
    --border: 212.73 26.83% 83.92%;
    --ring: 260 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="red"] {
    --background: 0 86% 97%;
    --foreground: 215 25% 26%;
    --primary: 0 72% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120, 72%, 51%;
    --secondary-foreground: 0, 0%, 100%;
    --border: 212.73 26.83% 83.92%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }

  a {
    @apply outline-none;
  }
}
