@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 100% 97%;
    --foreground: 217 35% 25%;
    --primary: 217 90% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 137, 90%, 60%;
    --secondary-foreground: 0, 0%, 0%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 212.73 26.83% 83.92%;
    --ring: 215 70% 60%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="yellow"] {
    --background: 54 100% 98%;
    --foreground: 36 100% 20%;
    --primary: 54 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 54 100% 70%;
    --secondary-foreground: 0 0% 0%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 212.73 26.83% 83.92%;
    --ring: 54 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="cyan"] {
    --background: 183 100% 96.27%;
    --foreground: 192 100% 25%;
    --primary: 188.74 94.5% 42.75%;
    --primary-foreground: 0 0% 100%;
    --secondary: 8.74, 94.5%, 42.75%;
    --secondary-foreground: 0, 0%, 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 212.73 26.83% 83.92%;
    --ring: 190 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="orange"] {
    --background: 30 100% 98%;
    --foreground: 20 100% 20%;
    --primary: 24 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204, 100%, 60%;
    --secondary-foreground: 0, 0%, 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 212.73 26.83% 83.92%;
    --ring: 30 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="purple"] {
    --background: 260 100% 98%;
    --foreground: 270 50% 20%;
    --primary: 260 90% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80, 90%, 60%;
    --secondary-foreground: 0, 0%, 0%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 212.73 26.83% 83.92%;
    --ring: 260 100% 50%;
    --radius: 0.5rem;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }

  [data-theme="red"] {
    --background: 0 86% 97%;
    --foreground: 215 25% 26%;
    --primary: 0 72% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120, 72%, 51%;
    --secondary-foreground: 0, 0%, 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 212.73 26.83% 83.92%;
    --radius: 0.5rem;
    --ring: 0 100% 50%;
    --text-primary: 222.22 47.37% 11.18%;
    --text-light: 215 19% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }

  a {
    @apply outline-none;
  }
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 80%;
  max-width: 500px;
  height: auto;
  max-height: 500px;
  border: none;
  border-radius: 12px;
  background-color: white;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 15px; /* Circular shape */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px; /* Adjust font size as needed */
}

.close-button:hover {
  background-color: #eee;
}

.close-button:after {
  content: "x";
  color: black;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #eee;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
  max-width: 200px;
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 80%;
  }
}
